   a {
       text-decoration: none;
       color: #444444;
   }

   .login-reg-panel {
       position: relative;
       top: 50%;
       transform: translateY(-50%);
       text-align: center;
       width: 70%;
       right: 0;
       left: 0;
       margin: auto;
       height: 400px;
       background-image: url("../../assets/images/frufruleta.jpg");
       background-size: cover;
       background-position: center center;
       /* Ajusta la posición de la imagen */


   }

   .white-panel {
       background-color: rgba(255, 255, 255, 1);
       height: 500px;
       position: absolute;
       top: -50px;
       width: 50%;
       right: calc(50% - 50px);
       transition: .3s ease-in-out;
       z-index: 0;
       box-shadow: 0 0 15px 9px #00000096;
   }

   .example-card {
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;

   }
