<div class="example-sidenav-content">
  <mat-toolbar class="sidenav">
    <button mat-icon-button (click)="drawer?.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <div class="title">
      <span>Mi nueva aplicacion</span>
      <span class="example-spacer"></span>
    </div>


    <div class="absolute">
      <app-button routerLink="/auth"  iconName="person_outline">

      </app-button>
      <!-- Resolver porque  no puedo poner el boton de logout -->
    </div>
  </mat-toolbar>
</div>