<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer opened="true"  class="example-sidenav" mode="side">

    <mat-nav-list class="listed-button">
      <span style="color: black;"> Inicio </span>
      <mat-divider class="w-100 mb-3"></mat-divider>

      <button class="btn" routerLink="home" class="sidebar-button" mat-button>
        <mat-icon>
          menu
          <span class="material-symbols-outlined">
          </span>
        </mat-icon>
        Inicio
      </button>


      <button class="btn" routerLink="category" class="sidebar-button" mat-button>
        <mat-icon>
          bar_chart_4_bars
          <span class="material-symbols-outlined">
          </span>
        </mat-icon>
        Categorias
      </button>

      <button class="btn" routerLink="product" class="sidebar-button" mat-button>
        <mat-icon>
          layers
          <span class="material-symbols-outlined">
          </span>
        </mat-icon>
        Productos
      </button>

      <span style="color: black">Gestión</span>
      <mat-divider class="w-100 mb-3"> </mat-divider>


      <button class="btn" routerLink="user" class="sidebar-button" mat-button>
        <mat-icon class="user-icon">
          manage_accounts
          <span class="material-symbols-outlined">
          </span>
        </mat-icon>
        Usuarios
      </button>

      <button class="btn" routerLink="/auth" class="sidebar-button" mat-button>
        <mat-icon class="user-icon">
          person_outline
          <span class="material-symbols-outlined">
          </span>
        </mat-icon>
        Cerrar sesion 
      </button>

    </mat-nav-list>
  </mat-drawer>
</mat-drawer-container>